  <div class="field">
    <%= f.label :route_name %>
    <%= f.text_field :route_name %>
  </div>

  <div class="field">
    <%= f.label :station_name %>
    <%= f.text_field :station_name %>
  </div>

  <div class="field">
    <%= f.label :walk_time %>
    <%= f.number_field :walk_time %><%= t "minute" %>
  </div>
